<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>CreateStudent</title>
</head>
<body>
<h3>Add Student</h3>
<div id="form">
    <form th:action="@{/employee/addEmployee}" th:object="${employee}"
          method="POST" novalidate="novalidate">
        <div>
            <label for="id">ID</label>
            <input type="text" id="id" th:field="*{id}"/>
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}"/>
        </div>
        <div>
            <label for="age">Contact Number:</label>
            <input type="text" id="age" th:field="*{contactNumber}"/>
        </div>
        <input type="submit" value="Submit"/>
    </form>
</div>
<footer></footer>
</body>
</html>